.container{
    margin-bottom: 80px;
}
.logo {
    width: 150px;
}
.navbar-nav a{
    color: black;
    font-weight: 400;
}
.navbar-nav a:hover{
    color: #21B573;
}

.orrange {
    color: #FD511A;
}

.green {
    color: #21B573;
}

.homeimg {
    width: auto;
}

.greenbtn {
    color: white;
    text-decoration: none;
    background-color: #21B573;
    padding: 12px 36px;
    border-radius: 33px;
    transition:all .5s;
}
.greenbtn:hover{
    color: #21B573;
    border: 2px solid #21B573;
    background-color: transparent;
    font-weight: bold;
}

.cards {
    width: 250px;
    height: 260px;
    text-align: center;
    padding: 44px 0;
    margin: 0px 16px;
    border-radius: 10px;
    transition: all .6s;
}

.cards:hover{
    box-shadow: 10px 20px 40px rgba(61, 41, 41, 0.2),-8px -10px 40px rgba(0, 0, 0, 0.2);

}

.cards img{
    width: 66px;
    height: 85px;
}
.pink{
    color: #413960;
}

.card{
    border: none;
    padding: 30px;
    margin: 20px;
    transition: all .5s;
}
.card:hover{
    box-shadow: 10px 20px 40px rgba(61, 41, 41, 0.2);
}
.card-body {
    flex: 1 1 auto;
    padding: 1rem 0rem;
}

.buycourse{
    color: white;
    text-decoration: none;
    background-color: #21B573;
    padding: 5px 10px;
    border-radius: 33px;
    transition:all .5s;
}
.offers .card-group .card-footer {
    align-items: center;
}
.offers .card-group .card-footer img{
    margin-bottom: 5px;
    width: 15px;
}
.foot{
background-color: #282531;
}
.foot h5{
    color: white;
}

.my-5 {
    margin-bottom: -5rem!important;
}

element.style {
}
.mb-3 {
    margin-bottom: 1rem!important;
}

.greenfoot{
    background-color: #21B573;
}
.greenfoot h5 {
    border-bottom: 1px solid black;
}
.greenfoot a{
    text-decoration: none;
    color: rgb(48, 47, 47);
}
.greenfoot a:hover{
    color: rgb(5, 112, 253);
}
.footbottom{
    margin-bottom: 5px;
}